server:
  port: 80

lavalink:
  server:
    password: "senhaforte"
    sources:
      youtube: true
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      mixer: true
      http: true
      local: false